body 
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 15px;
	width: 936px;
}
.subtitulo
{
            text-align: justify;
            font-family: Arial;
            font-size: medium;
            font-weight: bold;
            color:Black;
            vertical-align:top;
            width: 820px;
            height: 556px;
            margin-top: 0px;
            background-position: bottom; 
            background-repeat: no-repeat;
            border-style:solid;
            border-color:Silver;
            border-width:thin;
}

.tituloPanel
{
	font-size: 11px;
	font-weight: bold;
	color: #808080;
}

.botonColor
{
	color: White;
	background-color: #D32E22;
	width: 95px;
	height: 26px;
	font-size: 11px;
	z-index: 998;
}

.botonColor[Disabled]
{
	color: White;
	border-color: #E2D632;
	background-color: #ffffff;
	width: 95px;
	height: 26px;
	font-size: 11px;
}

.fontList
{
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 9px;
	background-color: White;
	z-index: 998;
}

.fontList[Disabled]
{
	background-color: #F7F7F7;
	font-style: normal;
	color: Black;
}

.fontList[ReadOnly]
{
	background-color: #F7F7F7;
	font-style: normal;
	color: Black;
}

.popUpMain
{
	position: relative;
	height: auto;
	background-color: #FAFBFD;
	overflow: auto;
	min-width: 250px;
	margin-top: 20px;
	z-index: 999;
	-zoom: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
	border: 15px solid #434753;
}

.popUpMainPagos
{
	position: relative;
	height: inherit;
	background-color: #FAFBFD;
	overflow: auto;
	min-width: 250px;
	margin-top: 20px;
	z-index: 999;
	-zoom: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
	border: 15px solid #434753;
}

.popUpTitle
{
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	margin-top: 10px;
	color: #434753;
}

.lbox
{
	position:relative;
	top: 0;
	left: 0;
	vertical-align: middle;
	font-size: 9px;
}

.popUpContent
{
	position: relative;
	width: inherit;
	height: inherit;
	overflow: inherit;
	vertical-align: middle;
	text-align: center;
	font-size: 10px;
}

.popUpContentPagos
{
	position: absolute;
	width: auto;
	height: auto;
	overflow: visible;
	vertical-align: middle;
	text-align: center;
	font-size: 10px;
}

.popUpFooter
{
	margin-top: 5px;
	text-align: center;
	vertical-align: bottom;
	margin-bottom: 10px;
}

mensajeError
{
	color: #F00;
	font-size: 11px;
	font-weight: bold;
}

.celdasCentradas
{
	text-align: center;
}

.fuenteNegritas
{
	font-weight: bold;
}

.modal-inner-wrapper
{
	width: 340px;
	height: 340px;
	background-color: Gray;
}

.modal-inner-wrapper .content
{
	width: 320px; height:320px; background-color:#FFFFFF; border: solid 1px Gray; z-index: 9999;
	float: right; margin-top: 10px; margin-right: 10px;
}

.modal-inner-wrapper .content .close
{
	float: left;
}

.modal-inner-wrapper .content .body
{
	margin-top: 20px;
}

.rounded-corners
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-border-radius: 5px;
	-behavior: url(border-radius.htc);
}

.rel
{
	position: relative;
	z-index: inherit;
	-zoom: 1;
}

.modal-bg
{
	background-color: Gray;
	filter: alpha(opacity=50);
	opacity: 0.6;
	z-index: 999;
}

.modal
{
	position: absolute;
}

.modalPagos
{
	position: absolute;
}

.MyCalendar .ajax__calendar_container
{
	background-color: #81BEF7;
	color: Blue;
}

.menuIE
{
	position: absolute;
	z-index: 999;
}

.titulobienvenida
{
    text-align:justify;
    font-family:AvantGarde LT Book;
    font-size:large;
    font-weight:bold;
    color:#2b5076;
    vertical-align:top;
    width: 800px;
}