<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="iva" value="0.16"/>
    <add key="ivaDesgloce" value="1.16"/>
  </appSettings>
  <connectionStrings>
    <!-- remota en godaddy, servidor dedicado 
		<add name="conexionKisem" connectionString="Server=72.167.41.203; Database=kisem;Uid=kisemuser;Pwd=pasKisEmBd0!;Pooling=false;Connection Timeout=90;"/>
    Base de datos pruebas Nuevo
    <add name="conexionKisem" connectionString="QXZ8YT6Bg1M2xDf8Afcj4BSZ5uDvdhL+K0s8qqlbiwk/p6PClOdkw9M5bDqXISJOrhRzlln1NjkgxWv3ka+9OsLBWFv7tP3xMjqMAAqQYzMY+kIZbpbcXJ8Ur0kBHDVXeBUF0OGhmFUFUGmWqoqKUA=="/>
    
		-->
    <!-- remota en godaddy, servidor de pruebas
    Base de datos LOCAL
    <add name="conexionKisem" connectionString="jghILNs3I4EpAiDbxxqCBF2MP4ffbLmlK1t/ByJEHFDm98sBWBEvqK2LyQMjQeyG+D7dcsUgmzVycNp78vyw1NjTO7jQW+I1t4fU49B4W503p/TqcXKhN5RVZf+mWnMM"/>
    -->
    <add name="conexionKisem" connectionString="jghILNs3I4EpAiDbxxqCBF2MP4ffbLmlK1t/ByJEHFDm98sBWBEvqK2LyQMjQeyG+D7dcsUgmzVycNp78vyw1NjTO7jQW+I1t4fU49B4W503p/TqcXKhN5RVZf+mWnMM" />
    <!-- local  
		<add name="conexionKisem" connectionString="Server=localhost; Database=kisem pruebas;Uid=root;Pwd=root;Pooling=false;"/>
    -->
  </connectionStrings>
  <system.web>
    
    <identity impersonate="false" />
    <!--<sessionState cookieless="false" timeout="10" />-->
    
    <compilation debug="true" targetFramework="4.0" strict="false" explicit="true">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="MySql.data, Version=5.0.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <globalization culture="es-MX" uiCulture="es" />
    <authentication mode="Windows">
      <forms loginUrl="Login.aspx" defaultUrl="Login.aspx" name="adAuthCookie" timeout="30" requireSSL="false"></forms>
    </authentication>
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="AjaxControlToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="asp" assembly="MsgBox" namespace="MsgBox" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
</configuration>